.profile {
	width: 320px;
	margin: 0 auto;
	border: 2px solid rgb(33, 37, 37);
	border-radius: 5px;
	overflow: hidden;
}

.profile_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0 15px;
}

.profile_picture {
	width: 120px;
	border-radius: 50%;
	background-color: rgb(33, 37, 37);
}

.profile_name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}

.profile_tag,
.profile_location {
	font-size: 20px;
	color: gray;
}

.profile_stats {
	display: flex;
	margin: -1px;
	background-color: lightgrey;
}

.profile_stats li {
	flex-basis: calc((100% + 6px) / 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid gray;
	padding: 15px 0 15px;
	margin: -1px;
}

.profile_stats li span:first-child {
	font-size: 18px;
}

.profile_stats li span:last-child {
	font-size: 20px;
	font-weight: bold;
}
